.modal {
  $color-shadow: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 4px $color-shadow;

  .modal-link {
    box-shadow: none;

    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 3px 1px $color-shadow;
    }
  }
}
