@font-face {
  font-family: 'icomoon';
  src: url('../../../public/fonts/icomoon.eot?wa7lws');
  src: url('../../../public/fonts/icomoon.eot?wa7lws#iefix')
      format('embedded-opentype'),
    url('../../../public/fonts/icomoon.ttf?wa7lws') format('truetype'),
    url('../../../public/fonts/icomoon.woff?wa7lws') format('woff'),
    url('../../../public/fonts/icomoon.svg?wa7lws#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  'pencil': '\e905',
  'user': '\e971',
  'search': '\e986',
  'cog': '\e994',
  'bin': '\e9ac',
  'cross': '\ea0f',
);

@each $icon-name, $icon-content in $icons {
  .icon-#{$icon-name}:before {
    content: $icon-content;
  }
}
