@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-white;
}

h1 {
  @apply font-bold text-2xl sm:text-3xl md:text-4xl;
}

.collapse {
  display: grid;
  grid-template-rows: 0fr;
  visibility: visible;
  transition: grid-template-rows 0.5s ease-in-out;

  &.open {
    grid-template-rows: 1fr;
  }

  > div {
    min-height: 0;
  }
}

.container {
  @apply mx-auto px-2 md:px-4;
}

.modal {
  box-shadow: 0 0 10px 4px $color-shadow;
}

.link-shadow {
  box-shadow: none;

  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 3px 1px $color-shadow;
  }
}
