@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-white;
}

h1 {
  @apply text-2xl font-bold sm:text-3xl md:text-4xl;
}

.collapse {
  display: grid;
  grid-template-rows: 0fr;
  visibility: visible;
  transition: grid-template-rows 0.5s ease-in-out;

  &.open {
    grid-template-rows: 1fr;
  }

  > div {
    min-height: 0;
  }
}

.modal {
  box-shadow: 0 0 10px 4px $color-shadow;
}

.link-shadow {
  box-shadow: none;

  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 3px 1px $color-shadow;
  }
}

.add-image-label {
  @apply relative flex items-center p-6;

  &:before {
    content: "Choose file";

    @apply absolute left-0 flex h-full w-full cursor-pointer
    items-center justify-center text-nowrap rounded-xl
    bg-white bg-opacity-10 py-2 transition-colors duration-300 ease-in-out hover:bg-primary
    hover:text-black;
  }

  input {
    @apply h-0 max-w-[200px] opacity-0;
  }
}
